# SPDX-FileCopyrightText: 2026 KIM Hyunjae
# SPDX-License-Identifier: AGPL-3.0-or-later

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 8

[*.nix]
indent_size = 2
indent_style = space

[*.{sh,bash,fish,zsh,nu}]
indent_size = 4
indent_style = space

[.{env,envrc}]
indent_size = 4
indent_style = space

[.{env,envrc}.*]
indent_size = 4
indent_style = space

[*.md]
indent_style = space
indent_size = 4

[{justfile,.justfile}]
indent_size = 4
indent_style = space

[*.{json,jsonc,yaml,toml,ts,js}]
indent_size = 2
indent_style = space
